:root {
  --base-padding: 10px;
  --layer: 1;
}
.file-list{
    color: white;
    font-size: 18px;
}
.arrow {
  // color: burlywood;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;

  &.down {
    transform: rotate(90deg);
  }
  &.right {
    transform: rotate(0deg);
  }
}
.list-item {
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: #333841;
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: calc(var(--base-padding) * var(--layer));
  padding-right: 10px;
}
